#Programar ejecuciones: triggerDate='* * * * *'
#Formato: 'MINUTE HOUR DOM MONTH DOW'. Dejar vacio para no programar ejecución.
#	MINUTE	Minuto (0_59)
#	HOUR	Hora del dia (0_23)
#	DOM		Dia del mes (1_31)
#	MONTH	Mes (1_12)
#	DOW		Dia de la semana donde 0 y 7 corresponden al domingo.
#	*		Indicar todos los valores posibles.

triggerperiodically = true
triggerdate =


#Valores por defecto en la ejecucion programada
environment = PRE
device = chrome
tags = 
parallel = false
threads =
hpalmcredentials = sanes-hpalmpipeline
hpalmdomain = QAF_SAN_RIESGOS
hpalmproject = RIESGOS_COMUN
sendemail = false
openshiftnamespace = sanes-pruebas-pre
openshiftenvironment = pro